<!DOCTYPE HTML>
<html>
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-126694753-1"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-126694753-1');
        </script>

        <title>國立臺灣大學工會｜審查事業單位請求工會同意事項辦法</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="assets/css/main.css" />
        <link rel="shortcut icon" type="image" href="images/favicon.ico"/>
    </head>
    <body class="is-preload">

        <!-- Wrapper -->
            <div id="wrapper">

                <!-- Main -->
                    <div id="main">
                        <div class="inner">

                            <!-- Header -->
                                <header id="header">
                                    <a href="index.html" class="logo"><strong>NTUNION </strong>國立臺灣大學工會</a>
                                    <ul class="icons">
                                        <li><a href="https://fb.me/ntu.laborunion" class="icon fab fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
                                        <li><a href="https://instagram.com/ntu.labor.union" class="icon fab fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
                                        <li><a href="https://line.me/R/ti/p/%40ntulu" class="icon fab fa-line" target="_blank"><span class="label">LINE</span></a></li>
                                        <li><a href="https://github.com/NTULaborUnion" class="icon fab fa-github" target="_blank"><span class="label">GitHub</span></a></li>
                                        <li><a href="mailto:ntu.labor.union@gmail.com" class="icon far fa-envelope" target="_blank"><span class="label">Email</span></a></li>
                                    </ul>
                                </header>

                            <!-- Content -->
                                <section>
                                    <header class="main">
                                        <h1>國立臺灣大學工會審查事業單位請求工會同意事項辦法</h1>
                                        <span class="image main"><img src="images/banner.png" alt="" /></span>
                                    </header>

                                    <blockquote>
                                        經 106 年 01 月 19 日經理事會通過公告施行 <br/>
                                        經 106 年 05 月 25 日經理事會通過決議修正
                                    </blockquote>

                                    <dl>
                                        <dt>第 1 條</dt>
                                        <dd>
                                          <p>
                                            為維護勞工權益、保護勞工身心勞逸均衡、促進勞工團結、充分反映勞工確實意見、確保勞工與雇主締約之自由意志，特制定本辦法。
                                          </p>
                                        </dd>
                                        <dt>第 2 條</dt>
                                        <dd>
                                          <p>
                                            國立臺灣大學工會（下稱本會）審查是否依勞動基準法（下稱勞基法）同意 事業單位請求於法律規定範圍內調整勞動條件之程序，應依本辦法行之。
                                          </p>
                                        </dd>
                                        <dt>第 3 條</dt>
                                        <dd>
                                          <p>
                                            本辦法適用事業單位請求本會同意其調整勞基法第 30 條第 2 項、同條第 3 項、 第 30-1 條第 1 項、第 32 條第 1 項、第 36 條第 2 項各款、第 39 條、第 49 條規定事業單位應經本會同意始得調整之勞動條件。
                                          </p>
                                        </dd>
                                        <dt>第 4 條</dt>
                                        <dd>
                                          <p>
                                            本會獲前條之請求，應審查受影響勞工之切身需求、工作場所特性對勞動條件之影響、調整前後對勞工之影響、事業單位內不同職類勞工間勞動條件差異、 事業單位與同產業他事業單位同職類勞工間勞動條件差異、本會同意對產業及職業整體勞動條件之影響、事業單位之需求，並將審查意見於本會指派代表出席第 6 條之會議時說明。
                                          </p>
                                        </dd>
                                        <dt>第 5 條</dt>
                                        <dd>
                                          <p>
                                            事業單位於請求時，應提供受影響勞工人數、職類、工作型態（調整前後對照班表）等資料，以供本會考量前條各項因素時參酌；併請事業單位提供第 6 條之會議時間、地點，以指派代表出席。前項之工作型態包括但不限於正常工時、延長工時、休息、休息日、例假日、休假之實際情況。
                                          </p>
                                        </dd>
                                        <dt>第 6 條</dt>
                                        <dd>
                                          <p>
                                            本會決定同意與否前應審查事業單位是否已召開合於下列條件之受影響勞工會議：<br/>
                                            一、以討論事業單位請求本會同意之事項是否有當為案由、受影響勞工全體為出席人、本會指派代表人員為會議主席與列席議事人員，並於十日前寄發會議通知於上列人。<br/>
                                            二、會議應由本會指派代表主持。<br/>
                                            三、資方得指派人員列席，但應先向本會提出申請並經本會許可。<br/>
                                            四、表決建請本會同意或不同意前，應予本會指派代表有機會說明本會依本辦法第 4 條各該應考量之因素、該次欲作成決議之勞動條件保護之意義、調整前後之影響、法律相關規定及適用疑義後，再由受影 響勞工與事業單位之代表人、代理人或負責處理勞工事務之人自由討論，方得提付表決。<br/>
                                            五、前款表決應於清點人數後連續為之。<br/>
                                            六、決議應經前款清點人數時受影響勞工全體人數四分之三以上出席、出席人數二分之一以上通過作成；可書面委任他人出席，但受委任人不得逾出席人數三分之一；書面委任者，受委任勞工人數不得逾出席人數之三分之一。<br/>
                                            七、前款書面委任，每一勞工以委任一人為限，每一勞工以受任代表一 人為限，且受任者不得再行複委任。辦理受委任簽到時，受影響勞 工重複委任多人出席會議者，所有代表重複之委任均視為無效。受任人出席後，委任人如親自出席，視為終止委任關係。<br/>
                                            本會應憑事業單位檢附之出席人簽到記錄，及本會代表說明、勞資雙方討論及表決之文字記錄審查會議是否合於前項各款條件。
                                          </p>
                                        </dd>
                                        <dt>第 7 條</dt>
                                        <dd>
                                            <p>
                                              經審查合於前條第1項各款條件且會議確實作成建請本會同意之決議者，由本會函覆事業單位同意。<br/>
                                              本會所為同意，得設定附款。<br/>
                                              前項所稱附款如下：<br/>
                                              一、期限。<br/>
                                              二、條件。<br/>
                                              三、負擔。<br/>
                                              四、保留同意之廢止權。<br/>
                                              五、保留負擔之事後附加或變更。<br/>
                                              本會所為同意期間以不逾三年為限。
                                            </p>
                                        </dd>
                                        <dt>第 8 條</dt>
                                        <dd>
                                            <p>受影響勞工有正當理由者，得說明理由並檢附證據送請本會調整（撤銷、廢止、事後附加負擔或變更）依據前條所為之同意內容。</p>
                                        </dd>
                                        <dt>第 9 條</dt>
                                        <dd>
                                            <p>
                                              本辦法得經理事會決議後修正。
                                            </p>
                                        </dd>


                                    </dl>

                                </section>

                        </div>
                    </div>

                <!-- Sidebar -->
                    <div id="sidebar">
                        <div class="inner">

                            <!-- Search -->
                                <section id="search" class="alt">
                                    <form method="post" action="#">
                                        <input type="text" name="query" id="query" placeholder="Search" />
                                    </form>
                                </section>

                            <!-- Menu -->
                                <nav id="menu">
                                    <header class="major">
                                        <h2>認識工會 (・ω・)ノ</h2>
                                    </header>
                                    <ul>
										<li v-for="item in menuItems">
											<a v-if="item.url!=''" :href="item.url">{{item.text}}</a>
											<span v-else class="opener">{{item.text}}</span>
											<ul v-if="item.url==''">
												<li v-for="sub in item.children">
													<a :href="sub.url">{{sub.text}}</a>
												</li>
											</ui>
										</li>
									</ul>
                                </nav>

                            <!-- Section -->
                                <section>
                                    <header class="major">
                                        <h2>聯絡我們 ( ´ ▽ ` )ﾉ</h2>
                                    </header>
                                    <ul class="contact">
                                        <li class="icon far fa-envelope"><a href="mailto:ntu.labor.union@gmail.com" target="_blank">臺大工會 Email</a></li>
                                        <li class="icon fab fa-facebook" ><a href="https://fb.me/ntu.laborunion" target="_blank">Facebook 粉絲專頁</a></li>
                                        <li class="icon fab fa-line"><a href="https://line.me/R/ti/p/%40ntulu" target="_blank"><span class="label">LINE@ 官方帳號</span></a></li>
                                        <li class="icon fas fa-phone">+886 919-315-161（秘書長）</li>
                                        <li class="icon fas fa-home">10099 臺北公館郵局第 148 號信箱</li>
                                    </ul>
                                </section>

                            <!-- Section -->
                                <section>
                                    <div class="fb-page" data-href="https://www.facebook.com/ntu.laborunion/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/ntu.laborunion/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/ntu.laborunion/">國立臺灣大學工會</a></blockquote></div>
                                </section>

                            <!-- Footer -->
                                <footer id="footer">
                                    <p class="copyright">&copy; NTUnion 2018. <a href="https://creativecommons.org/licenses/by/3.0/">CC BY 3.0.</a> Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
                                </footer>

                        </div>
                    </div>

            </div>

        <!-- Scripts -->
			<script src="assets/js/menu.js"></script>
            <script src="assets/js/jquery.min.js"></script>
            <script src="assets/js/browser.min.js"></script>
            <script src="assets/js/breakpoints.min.js"></script>
            <script src="assets/js/util.js"></script>
            <script src="assets/js/main.js"></script>

        <!-- Load Facebook SDK for JavaScript -->
            <div id="fb-root"></div>
            <script>(function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = 'https://connect.facebook.net/zh_TW/sdk/xfbml.customerchat.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>

        <!-- Your customer chat code -->
            <div class="fb-customerchat"
              attribution=setup_tool
              page_id="380574991956867"
              theme_color="#2F5E80"
              logged_in_greeting="嗨！可以透過這裡聯繫我們哦 (・ω・)ノ"
              logged_out_greeting="嗨！可以透過這裡聯繫我們哦 (・ω・)ノ">
            </div>

    </body>
</html>
