<!DOCTYPE HTML>
<html>
	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-126694753-1"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-126694753-1');
        </script>

        <title>國立臺灣大學工會｜首頁</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta property="og:url"           content="https://ntu.lu/index.html" />
  		<meta property="og:type"          content="website" />
 		<meta property="og:title"         content="國立臺灣大學工會｜首頁" />
		<meta property="og:description"   content="加入臺大工會、懇請小額捐款，我們一起爭取作為學術產業基層勞動力應得的尊嚴與權益。" />
		<meta property="og:image"         content="https://ntu.lu/images/ntulu-profile.jpg" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="shortcut icon" type="image" href="images/favicon.ico"/>
	</head>
	<body class="is-preload">
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = 'https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v3.1&appId=748496555495227&autoLogAppEvents=1';
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header">
									<a href="index.html" class="logo"><strong>NTUNION </strong>國立臺灣大學工會</a>
									<ul class="icons">
										<li><a href="https://fb.me/ntu.laborunion" class="icon fab fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
										<li><a href="https://instagram.com/ntu.labor.union" class="icon fab fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
										<li><a href="https://line.me/R/ti/p/%40ntulu" class="icon fab fa-line" target="_blank"><span class="label">LINE</span></a></li>
										<li><a href="https://github.com/NTULaborUnion" class="icon fab fa-github" target="_blank"><span class="label">GitHub</span></a></li>
										<li><a href="mailto:ntu.labor.union@gmail.com" class="icon far fa-envelope" target="_blank"><span class="label">Email</span></a></li>
									</ul>
								</header>

							<!-- Banner -->
								<section id="banner">
									<div class="content">
										<header>
											<h1>{{ntulu}}</h1>
											<p>The Labor Union of National Taiwan University</p>
										</header>
										<p>無論你是否打算或正在就讀研究所，歡迎加入工會，除了更加認識研究生生活的樣貌，也能親自動手打造一個更友善的校園勞動環境；若你是校內職員工，更歡迎你在忙碌之餘，加入我們的行列，一同拼湊臺大的勞動圖像。如果你並非臺大勞工，更可以透過捐款支持我們，讓工會為這座校園做更多事！</p>
										<ul class="actions">
											<li><a href="donate.html" class="button large">捐款支持</a></li>
											<li><a href="https://line.me/R/ti/p/%40ntulu" class="button primary large">加入 LINE@ 好友</a></li>

										</ul>
									</div>
									<span class="image object">
										<img src="images/ntulu-profile.jpg" alt="" />
									</span>
								</section>

							<!-- Section -->
								<section>
									<header class="major">
										<h2>工會是什麼？可以吃嗎？(｡･ω･｡)</h2>
									</header>
									<div class="features">
										<article>
											<span class="icon fas fa-user-graduate"></span>
											<div class="content">
												<h3>臺大工會知多少</h3>
												<p>國立臺灣大學工會於 2013 年 4 月 1 日經臺北市政府核准成立，為臺灣第一個以大學專任研究助理、約用人員、校內工讀生為主要發起人，依《工會法》以大專院校為事業單位而成立的企業工會。首屆理事長為林必修、秘書長林凱衡，現任理事長為張峻臺、秘書長吳軒竹。</p>
											</div>
										</article>
										<article>
											<span class="icon fas fa-hand-holding-usd"></span>
											<div class="content">
												<h3>為什麼要成立臺大工會？</h3>
												<p>自 2010 年起，在研究生的反對聲浪與抗爭下，臺大藉邁頂計畫（五年五百億）預算縮減之名，逐年調降助教薪資。研究生協會於是展開調查，指出約四成臺大研究生須面對生計壓力、更有約二成身處血汗勞動的現象，進而認為必須透過工會團結校內勞工，才有可能向校方爭取權益。</p>
											</div>
										</article>
										<article>
											<span class="icon fas fa-bullhorn"></span>
											<div class="content">
												<h3>工會可以為你爭取哪些權益呢？</h3>
												<ul class="alt">
													<li>勞資爭議可向工會諮詢，透過申訴介入處理</li>
													<li>校園勞動教育，提升權利意識，認識校園裡不同職種的工作者</li>
													<li>工會有權與校方進行集體協商，勞工無須獨自承擔成本及風險</li>
												</ul>
											</div>
										</article>
										<article>
											<span class="icon fas fa-balance-scale"></span>
											<div class="content">
												<h3>臺大工會的未來展望</h3>
												<p>作為臺灣指標性大學的校園工會，臺大工會除了為校園勞動者爭取勞動權益、提升既有待遇，更期許能充當銜接校園與職場的齒輪，培力更多具勞權意識的新生代，待他們成為社會的中堅份子之際，不忘拉年輕人一把，跨越世代共同打造更適合生活的職場條件。</p>
											</div>
										</article>
									</div>
								</section>

							<!-- Section -->
								<section>
									<header class="major">
										<h2>那你能做些什麼呢？ (´･Д･)」</h2>
									</header>
									<div class="posts">
										<article>
											<a href="join.html" class="image"><img src="images/pyramid.jpg" alt="" /></a>
											<h3>加入工會</h3>
											<p>
											根據薪資調查及獎勵金獎勵金的紀錄，研究生助理薪資給付額度自 1980 年代完全沒有成長，平均獎勵金額度都在數千元上下，然臺灣服務業的平均月薪卻從一萬多元爬升到現在三四萬元。也就是說，現在一份工作根本沒辦法讓研究生吃飽，許多研究生要接三到四份學校裡面的工作才有辦法達到負擔生活費的目標。</br></br>

											實際上研究生助理不只是做一份可有可無的工作，而是負擔起教學或研究最基礎的作業，像是讓授課老師可以密切的掌握學生狀況，或者做出研究室建教合作計畫的結案報告。縱使這些庶務看似不重，小而密集的出現卻讓研究生疲於奔命。</br></br>

											加入工會，我們一起爭取作為學術產業基層勞動力應得的尊嚴與權益。

											</p>
											<ul class="actions">
												<li><a href="join.html" class="button primary large">前往入會 (=´∀｀)ノ</a></li>
											</ul>
										</article>
										<article>
											<a href="donate.html" class="image"><img src="images/gearwheel.jpg" alt="" /></a>
											<h3>捐款支持</h3>
											<p>
												缺乏制度保障的勞動現場，使得研究生在生活、工作和課業多重壓力下，經常要面對時間不夠、薪水遲發、工資浮動的狀況，許多研究生因此無法專心於研究及論文，甚至身心狀況每況愈下。然而，隨著更多人願意就讀研究所，年輕人心裡想的，是為了提升自己的競爭力，以面對出社會後的血汗低薪。</br></br>

												工會的收入來源來自會費及捐款，無論您是不是臺大勞工或學生，您的支持對我們來說就是重要的動力來源和運作基礎——包含文宣設計、活動費用以及秘書薪資等。</br></br>

												懇請小額捐款，甚至定期定額，支持我們串連大學校園與職場，推廣勞動意識，讓各個產業在勞動條件甚至生活平衡上都能透過勞工的團結，共同爭取到更好的待遇。

											</p>
											<ul class="actions">
												<li><a href="donate.html" class="button large">ヽ(´∀｀=) 前往捐款</a></li>
											</ul>
										</article>
									</div>
								</section>

						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">

							<!-- Search -->
								<section id="search" class="alt">
									<form method="post" action="#">
										<input type="text" name="query" id="query" placeholder="Search" />
									</form>
								</section>

							<!-- Menu -->
								<nav id="menu">
									<header class="major">
										<h2>認識工會 (・ω・)ノ</h2>
									</header>
									<ul>
										<li v-for="item in menuItems">
											<a v-if="item.url!=''" :href="item.url">{{item.text}}</a>
											<span v-else class="opener">{{item.text}}</span>
											<ul v-if="item.url==''">
												<li v-for="sub in item.children">
													<a :href="sub.url">{{sub.text}}</a>
												</li>
											</ui>
										</li>
									</ul>
								</nav>

							<!-- Section -->
								<section>
                                    <header class="major">
                                        <h2>聯絡我們 ( ´ ▽ ` )ﾉ</h2>
                                    </header>
                                    <ul class="contact">
                                        <li class="icon far fa-envelope"><a href="mailto:ntu.labor.union@gmail.com" target="_blank">臺大工會 Email</a></li>
                                        <li class="icon fab fa-facebook" ><a href="https://fb.me/ntu.laborunion" target="_blank">Facebook 粉絲專頁</a></li>
                                        <li class="icon fab fa-line"><a href="https://line.me/R/ti/p/%40ntulu" target="_blank"><span class="label">LINE@ 官方帳號</span></a></li>
                                        <li class="icon fas fa-phone">+886 919-315-161（秘書長）</li>
                                        <li class="icon fas fa-home">10099 臺北公館郵局第 148 號信箱</li>
                                    </ul>
                                </section>

							<!-- Section -->
								<section>
									<div class="fb-page" data-href="https://www.facebook.com/ntu.laborunion/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/ntu.laborunion/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/ntu.laborunion/">國立臺灣大學工會</a></blockquote></div>
								</section>


							<!-- Section -->
								<section>
									<div class="insta-page">
										<script type="text/javascript" src="/assets/js/jquery-1.6.1.min.js"></script>
							    		<script type="text/javascript" src="/assets/js/jquery-embedagram.pack.js"></script>
							    		<script type="text/javascript">
							    			$(document).ready(function() { $('#slideshow').embedagram({
							                		instagram_id: ntu.labor.union
							            		});
						        			});
						    			</script>
									</div>
								</section>

								<!-- LightWidget WIDGET -->
								<!--<script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/generated.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>-->

							<!-- Footer -->
								<footer id="footer">
									<p class="copyright">&copy; NTUnion 2018. <a href="https://creativecommons.org/licenses/by/3.0/">CC BY 3.0.</a> Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
								</footer>
						</div>
					</div>

			</div>

		<!-- Scripts -->
			<script src="assets/js/menu.js"></script>
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
		<!-- Load Facebook SDK for JavaScript -->
			<div id="fb-root"></div>
			<script>(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = 'https://connect.facebook.net/zh_TW/sdk/xfbml.customerchat.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));</script>

		<!-- Your customer chat code -->
			<div class="fb-customerchat"
			  attribution=setup_tool
			  page_id="380574991956867"
			  theme_color="#2F5E80"
			  logged_in_greeting="嗨！可以透過這裡聯繫我們哦 (・ω・)ノ"
			  logged_out_greeting="嗨！可以透過這裡聯繫我們哦 (・ω・)ノ">
			</div>

	</body>
</html>
