<!DOCTYPE HTML>
<html>
	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-126694753-1"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
		<script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-126694753-1');
        </script>

        <title>國立臺灣大學工會｜首頁</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta property="og:url"           content="https://ntu.lu/index.html" />
  		<meta property="og:type"          content="website" />
 		<meta property="og:title"         content="國立臺灣大學工會｜首頁" />
		<meta property="og:description"   content="加入臺大工會、懇請小額捐款，我們一起爭取作為學術產業基層勞動力應得的尊嚴與權益。" />
		<meta property="og:image"         content="https://ntu.lu/images/ntulu-profile.jpg" />
		<link rel="stylesheet" href="/assets/css/main.css" />
		<link rel="shortcut icon" type="image" href="images/favicon.ico"/>
	</head>
	<body class="is-preload">
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = 'https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v3.1&appId=748496555495227&autoLogAppEvents=1';
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header">
									<a href="/index.html" class="logo"><strong>NTUNION </strong>國立臺灣大學工會</a>
									<ul class="icons">
										<li><a href="https://fb.me/ntu.laborunion" class="icon fab fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
										<li><a href="https://instagram.com/ntu.labor.union" class="icon fab fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
										<li><a href="https://line.me/R/ti/p/%40ntulu" class="icon fab fa-line" target="_blank"><span class="label">LINE</span></a></li>
										<li><a href="https://github.com/NTULaborUnion" class="icon fab fa-github" target="_blank"><span class="label">GitHub</span></a></li>
										<li><a href="mailto:ntu.labor.union@gmail.com" class="icon far fa-envelope" target="_blank"><span class="label">Email</span></a></li>
									</ul>
								</header>

							<!-- Banner -->
								<section id="banner">
									<div class="content">
										<header>
											<h1>選舉專區</h1>
                                            <span class="image main"><img src="/images/banner.png" alt="" /></span>
                                        </header>
										<h2>進行中的選舉</h2>
                                        <h3><a href="#LaborConference-5-1">第六屆勞資會議勞方代表第一次補選</a></h3>
            
									</div>
								</section>

							<!-- Section -->
								<section id="LaborConference-5-1">
									<header class="major">
										<h2>第六屆勞資會議勞方代表第一次補選</h2>
									</header>
									<div class="features">
										<article>
											<span class="icon fas fa-chalkboard-teacher"></span>
											<div class="content">
												<h3>選舉公報－候選人與政見</h3>
												<p>專任助理研究人員代表補選候選人計 2 人，名單如下：何皎葦（社會科學院社會系）與謝依均（出版中心），政見<a href="files/第六屆勞資會議第一次勞方代表補選候選人名單.pdf">請見此</a>。</p>
											</div>
										</article>
										<article>
											<span class="icon fas fa-users"></span>
											<div class="content">
												<h3>選舉人資格</h3>
												<p>專任助理研究人員得投票之資格為 109 年 2 月 25 日（星期二）前完成聘僱且於 109 年 3 月 31 日（星期二）前仍在職者。</p>
											</div>
										</article>
										<article>
											<span class="icon fas fa-calendar-alt"></span>
											<div class="content">
												<h3>選舉時間</h3>
												<p>投票期間為 109 年 5 月 11 日（星期一）起至 109 年 5 月 15 日（星期五）止</p>
											</div>
										</article>
										<article>
											<span class="icon fas fa-check"></span>
											<div class="content">
												<h3>選舉方式</h3>
												<ul class="alt">
													<li>以計中帳號登入投票系統（myNTU→意見交流→教職員投票系統）投票給已登記為候選人之專任助理研究人員。</li>
                                                    <li>本次為同額競選，故投票方式採行正反決，票面上會顯示同意、反對，同意票高於反對票者當選。</li>
                                                    <li><strong>因計算機中心系統設計關係，本次選舉投票須在投票系統中投票兩次，請各位同仁注意。</strong></li>
												</ul>
												<p></p>
											</div>
										</article>
									</div>
								</section>


						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">

							<!-- Search -->
								<section id="search" class="alt">
									<form method="post" action="#">
										<input type="text" name="query" id="query" placeholder="Search" />
									</form>
								</section>

							<!-- Menu -->
								<nav id="menu">
									<header class="major">
										<h2>認識工會 (・ω・)ノ</h2>
									</header>
									<ul>
										<li v-for="item in menuItems">
											<a v-if="item.url!=''" :href="item.url">{{item.text}}</a>
											<span v-else class="opener">{{item.text}}</span>
											<ul v-if="item.url==''">
												<li v-for="sub in item.children">
													<a :href="sub.url">{{sub.text}}</a>
												</li>
											</ui>
										</li>
									</ul>
								</nav>

							<!-- Section -->
								<section>
                                    <header class="major">
                                        <h2>聯絡我們 ( ´ ▽ ` )ﾉ</h2>
                                    </header>
                                    <ul class="contact">
                                        <li class="icon far fa-envelope"><a href="mailto:ntu.labor.union@gmail.com" target="_blank">臺大工會 Email</a></li>
                                        <li class="icon fab fa-facebook" ><a href="https://fb.me/ntu.laborunion" target="_blank">Facebook 粉絲專頁</a></li>
                                        <li class="icon fab fa-line"><a href="https://line.me/R/ti/p/%40ntulu" target="_blank"><span class="label">LINE@ 官方帳號</span></a></li>
                                        <li class="icon fas fa-phone">+886 919-315-161（秘書長）</li>
                                        <li class="icon fas fa-home">10099 臺北公館郵局第 148 號信箱</li>
                                    </ul>
                                </section>

							<!-- Section -->
								<section>
									<div class="fb-page" data-href="https://www.facebook.com/ntu.laborunion/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/ntu.laborunion/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/ntu.laborunion/">國立臺灣大學工會</a></blockquote></div>
								</section>


							<!-- Section -->
								<section>
									<div class="insta-page">
										<script type="text/javascript" src="/assets/js/jquery-1.6.1.min.js"></script>
							    		<script type="text/javascript" src="/assets/js/jquery-embedagram.pack.js"></script>
							    		<script type="text/javascript">
							    			$(document).ready(function() { $('#slideshow').embedagram({
							                		instagram_id: ntu.labor.union
							            		});
						        			});
						    			</script>
									</div>
								</section>

								<!-- LightWidget WIDGET -->
								<!--<script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/generated.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>-->

							<!-- Footer -->
								<footer id="footer">
									<p class="copyright">&copy; NTUnion 2018. <a href="https://creativecommons.org/licenses/by/3.0/">CC BY 3.0.</a> Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
								</footer>
						</div>
					</div>

			</div>

		<!-- Scripts -->
			<script src="/assets/js/menu.js"></script>
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/browser.min.js"></script>
			<script src="/assets/js/breakpoints.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script src="/assets/js/main.js"></script>


		<!-- Load Facebook SDK for JavaScript -->
			<div id="fb-root"></div>
			<script>(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = 'https://connect.facebook.net/zh_TW/sdk/xfbml.customerchat.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));</script>

		<!-- Your customer chat code -->
			<div class="fb-customerchat"
			  attribution=setup_tool
			  page_id="380574991956867"
			  theme_color="#2F5E80"
			  logged_in_greeting="嗨！可以透過這裡聯繫我們哦 (・ω・)ノ"
			  logged_out_greeting="嗨！可以透過這裡聯繫我們哦 (・ω・)ノ">
			</div>

	</body>
</html>
